# DC Coms Reminder Bot
DCREMINDER_MATRIX_URL=https://chat.example.com
DCREMINDER_USER=@reminderbot:chat.example.com
DCREMINDER_PASSWORD=CHANGE_ME
DCREMINDER_DATA=CHANGE_ME
DCREMINDER_DB=CHANGE_ME
DCREMINDER_STORE=CHANGE_ME
DCREMINDER_TIMEZONE=America/New_York
