[Unit]
Description=DC Coms PostgreSQL Backup
After=dccoms-postgres.service
Requires=dccoms-postgres.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/dccoms-db-backup.sh
